@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://rsms.me/inter/inter.css');

html,
body,
#app {
  width: 100%;
  height: 100%;
  position: relative;
  @apply bg-gray-100;
}
